Repository cap-js/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @renejeglinsky, @smahati, @chgeo, @swaldmann

Remove obsolete titleTemplate
  index.md
Owners: @renejeglinsky

Fix links
  about/best-practices.md
  about/index.md
Owners: @renejeglinsky

Disable rest of scrolltotop
  .vitepress/theme/Layout.vue
Owners: @chgeo, @swaldmann

Auth explanation request
  node.js/authentication.md
Owners: @smahati

Fix ScrollToTop for pages navigated to
  .vitepress/theme/Layout.vue
  .vitepress/theme/components/ScrollToTopSimple.vue
  public/script.js
Owners: @chgeo, @swaldmann, @renejeglinsky

Add merge_group trigger
  .github/workflows/PR-SAP.yml
Owners: @chgeo, @swaldmann

Update PR.yml
  .github/workflows/PR.yml
Owners: @chgeo, @swaldmann

Update lint.yml
  .github/workflows/lint.yml
Owners: @chgeo, @swaldmann

Prepare merge groups (#1485)
  .github/workflows/PR-SAP.yml
  .github/workflows/PR.yml
  .github/workflows/lint.yml
Owners: @chgeo, @swaldmann

Support config.js
  .github/renovate.json
Owners: @chgeo, @swaldmann

Support config.js
  .github/renovate.json
Owners: @chgeo, @swaldmann

fix link
  cds/aspects.md
Owners: @renejeglinsky

improve typescript build task info (#1346)
  node.js/typescript.md
  tools/cds-typer.md
Owners: @smahati, @renejeglinsky

Update guides/security/authorization.md
  guides/security/authorization.md
Owners: @renejeglinsky

cosmetic changes for the AOP guide (#1482)
  cds/aspects.md
Owners: @renejeglinsky

remove empty links and sections
  about/best-practices.md
  about/index.md
Owners: @renejeglinsky

remove(notebooks): obsolete download reference
  tools/assets/cap-notebook-button.png
  tools/cds-editors.md
Owners: @renejeglinsky

reworked comments
  guides/providing-services.md
Owners: @renejeglinsky

Simplified hash links
  .vitepress/theme/styles.scss
  advanced/fiori.md
  advanced/hana.md
  cds/annotations.md
  cds/cdl.md
  cds/cql.md
  cds/csn.md
  guides/providing-services.md
  guides/using-services.md
  java/change-tracking.md
  java/cqn-services/persistence-services.md
  java/developing-applications/building.md
Owners: @chgeo, @swaldmann, @renejeglinsky, @smahati

Fixed relative lnks
  about/best-practices.md
Owners: @renejeglinsky

Abaout CAP, still wip ...
  about/index.md
Owners: @renejeglinsky

fixed more hash links
  cds/annotations.md
  cds/cdl.md
  guides/databases.md
  guides/providing-services.md
  java/working-with-cql/query-api.md
  java/working-with-cql/query-execution.md
Owners: @renejeglinsky, @smahati

Update advanced/odata.md
  advanced/odata.md
Owners: @renejeglinsky

Remove superfluous content from Troubleshooting
  get-started/troubleshooting.md
Owners: @renejeglinsky

Suggest `url` instead of `database` for `cds.requires.db.credentials`
  node.js/cds-connect.md
  node.js/cds-env.md
Owners: @smahati

Use `.sqlite` file ending
  node.js/cds-connect.md
Owners: @smahati

Suggest `url` instead of `database` for `cds.requires.db.credentials` (#1489)
  node.js/cds-connect.md
  node.js/cds-env.md
Owners: @smahati

Remove superfluous content from Troubleshooting (#1488)
  get-started/troubleshooting.md
Owners: @renejeglinsky

Refactor styles and improve documentation clarity in CAP overview
  .vitepress/theme/styles.scss
  about/bad-practices.md
  about/best-practices.md
  about/index.md
Owners: @chgeo, @swaldmann, @renejeglinsky

more fixed links
  about/best-practices.md
  about/features.md
  about/index.md
  cds/cxn.md
  guides/providing-services.md
  links.md
Owners: @renejeglinsky

Add `$Null()` as value alternative (#1361)
  advanced/odata.md
Owners: @renejeglinsky

Fix links
  about/features.md
  about/index.md
Owners: @renejeglinsky

Fix link
  cds/annotations.md
Owners: @renejeglinsky

fix link
  cds/annotations.md
  guides/providing-services.md
Owners: @renejeglinsky

fixed anchor
  cds/annotations.md
  guides/providing-services.md
Owners: @renejeglinsky

Enhance table styling and adjust caption alignment in styles.scss
  .vitepress/theme/styles.scss
  about/assets/event-handlers.drawio.svg
  about/assets/events.drawio.svg
  about/best-practices.md
Owners: @chgeo, @swaldmann, @renejeglinsky

remove(notebooks): obsolete download reference (#1487)
  tools/assets/cap-notebook-button.png
  tools/cds-editors.md
Owners: @renejeglinsky

edit
  cds/cdl.md
Owners: @renejeglinsky

edit
  about/index.md
Owners: @renejeglinsky

Remove beta label for `cds-tsx`
  node.js/typescript.md
Owners: @smahati

.github/CODEOWNERS:

# This files defines code ownership.

# General content
* @renejeglinsky
node.js/ @smahati
java/ @smahati

# Infra
.github/    @chgeo @swaldmann
.vitepress/ @chgeo @swaldmann

# allow dependencies updates through renovate w/o code owners
package.json
package-lock.json
