Repository cap-js/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @renejeglinsky, @smahati, @chgeo, @swaldmann

.github/CODEOWNERS:

# This files defines code ownership.

# General content
* @renejeglinsky
node.js/ @smahati
java/ @smahati

# Infra
.github/    @chgeo @swaldmann
.vitepress/ @chgeo @swaldmann

# allow dependencies updates through renovate w/o code owners
package.json
package-lock.json

restructure
  guides/providing-services.md
Owners: @renejeglinsky

docs(auth): Mention 403 pitfall + Java specifics
  guides/security/authorization.md
Owners: @renejeglinsky

fix links
  guides/messaging/index.md
  guides/security/authorization.md
  java/cqn-services/application-services.md
  java/developing-applications/building.md
  java/event-handlers/changeset-contexts.md
  java/event-handlers/index.md
  java/event-handlers/request-contexts.md
  java/services.md
Owners: @renejeglinsky, @smahati

docs(java): Improve examples: use messaging _name_ (#1351)
  java/messaging.md
Owners: @smahati

Update node.js/fiori.md
  node.js/fiori.md
Owners: @smahati

Node.js - fuzzy search in next release (#1459)
  guides/providing-services.md
Owners: @renejeglinsky

update audit-log presets (#1446)
  guides/data-privacy/audit-logging.md
Owners: @renejeglinsky

docs(annotations): Link database persistence for persistence annotations (#1374)
  cds/annotations.md
Owners: @renejeglinsky

Update guides/security/authorization.md
  guides/security/authorization.md
Owners: @renejeglinsky

Update guides/security/authorization.md
  guides/security/authorization.md
Owners: @renejeglinsky

Update guides/security/authorization.md
  guides/security/authorization.md
Owners: @renejeglinsky

unrelease page
  advanced/index.md
Owners: @renejeglinsky

edit flow numbering nd table
  get-started/index.md
Owners: @renejeglinsky

edits
  about/index.md
  get-started/in-a-nutshell.md
Owners: @renejeglinsky

add info for defaults
  get-started/index.md
Owners: @renejeglinsky

Update get-started/index.md
  get-started/index.md
Owners: @renejeglinsky

fix accidental error
  java/migration.md
Owners: @smahati

add header marker
  java/migration.md
Owners: @smahati

edits
  about/index.md
Owners: @renejeglinsky

edit
  about/index.md
Owners: @renejeglinsky

Allow `Config.label`
  .vitepress/theme/components/ConfigInspect.vue
Owners: @chgeo, @swaldmann

Getting Started section: review (#1464)
  about/index.md
  get-started/in-a-nutshell.md
  get-started/index.md
Owners: @renejeglinsky

Rounder
  about/assets/architecture.drawio.svg
Owners: @renejeglinsky

Even rounder
  about/assets/architecture.drawio.svg
Owners: @renejeglinsky

Update architecture graphic with transparent backgrounds (#1461)
  about/assets/architecture.drawio.svg
Owners: @renejeglinsky

.
  get-started/index.md
Owners: @renejeglinsky

.
  get-started/index.md
Owners: @renejeglinsky

Update node.js/fiori.md
  node.js/fiori.md
Owners: @smahati

Update node.js/fiori.md
  node.js/fiori.md
Owners: @smahati

Update CLI texts
  tools/assets/help/cds-typer.out.md
  tools/assets/help/cds-version-md.out.md
  tools/assets/help/cds-version.out.md
  tools/assets/help/cds-watch.out.md
Owners: @renejeglinsky

edit
  about/index.md
  get-started/index.md
Owners: @renejeglinsky

add alt texts
  about/index.md
Owners: @renejeglinsky

Extend view: mention restricton w.r.t. table alias
  cds/cdl.md
Owners: @renejeglinsky

Clarify examples of lossy changes in Postgres deployment guide
  guides/databases-postgres.md
Owners: @renejeglinsky

Add cds-rfc to list of plugins
  plugins/index.md
Owners: @renejeglinsky

ABAP RFC. Add a fragment anchor
  plugins/index.md
Owners: @renejeglinsky

...
  .vitepress/theme/styles.scss
  about/assets/bookshop-erm.drawio.svg
  about/assets/cdl-csn.drawio.svg
  about/assets/cql-cqn.drawio.svg
  about/assets/fueling-services.drawio.svg
  about/assets/jobkiller.png
  about/assets/key-concepts.drawio.svg
  about/assets/too-busy.png
  about/index.md
  cds/cdl.md
Owners: @chgeo, @swaldmann, @renejeglinsky

Added central links.md
  about/index.md
  links.md
Owners: @renejeglinsky

add link targets
  about/index.md
Owners: @renejeglinsky

Apply suggestions from code review
  about/index.md
Owners: @renejeglinsky
