Repository cap-js/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @renejeglinsky, @smahati, @chgeo, @swaldmann

Update change-tracking.md
  java/change-tracking.md
Owners: @smahati

Fixes
  .vitepress/theme/components/WasThisHelpful.vue
Owners: @chgeo, @swaldmann

New compile lifecycle events
  node.js/cds-compile.md
  node.js/cds-facade.md
  node.js/cds-server.md
Owners: @smahati

rename
  .vitepress/theme/components/WasThisHelpful.vue
Owners: @chgeo, @swaldmann

Smaller margin-top
  .vitepress/theme/components/WasThisHelpful.vue
Owners: @chgeo, @swaldmann

Add missing anchors
  cds/cqn.md
Owners: @renejeglinsky

Feedback button for Matomo (#1524)
  .vitepress/theme/Layout.vue
  .vitepress/theme/components/ShortcutsList.vue
  .vitepress/theme/components/WasThisHelpful.vue
Owners: @chgeo, @swaldmann

Refactor CQN documentation: update headings and remove deprecated properties
  cds/cqn.md
Owners: @renejeglinsky

add term 'infix'
  cds/cdl.md
Owners: @renejeglinsky

added troubleshooting for hana migration (#1523)
  get-started/troubleshooting.md
Owners: @renejeglinsky

Update guides/providing-services.md
  guides/providing-services.md
Owners: @renejeglinsky

Update guides/databases.md
  guides/databases.md
Owners: @renejeglinsky

Update guides/databases.md
  guides/databases.md
Owners: @renejeglinsky

Added complete cqn.d.ts
  cds/cqn.md
Owners: @renejeglinsky

Adjusted docs for consolidated cds.ql
  node.js/cds-compile.md
  node.js/cds-ql.md
  node.js/cds-reflect.md
Owners: @smahati

Fix code type
  node.js/cds-reflect.md
Owners: @smahati

Update guides/databases.md
  guides/databases.md
Owners: @renejeglinsky

databases: Fix and extend @sql.prepend/append docs (#1520)
  guides/databases.md
Owners: @renejeglinsky

Improve change tracking docu (#1525)
  java/change-tracking.md
Owners: @smahati

chore: more node convenience for odata functions (#1517)
  guides/providing-services.md
Owners: @renejeglinsky

Update node.js/fiori.md
  node.js/fiori.md
Owners: @smahati

cosmetics
  java/developing-applications/building.md
Owners: @smahati

cosmetics
  java/developing-applications/building.md
Owners: @smahati

Update cds-ql.md
  node.js/cds-ql.md
Owners: @smahati

cosmetics
  node.js/typescript.md
Owners: @smahati

Update installation of local cds-dk (#1510)
  java/developing-applications/building.md
Owners: @smahati

docs: add Expressions section to menu
  node.js/_menu.md
Owners: @smahati

Java: Insert with path example
  java/working-with-cql/query-api.md
Owners: @smahati

Update observability.md (#1514)
  java/operating-applications/observability.md
Owners: @smahati

Update java/messaging.md
  java/messaging.md
Owners: @smahati

Update java/messaging.md
  java/messaging.md
Owners: @smahati

Typescript: run with `watch`, SFlight sample (#1515)
  node.js/typescript.md
Owners: @smahati

Update CLI texts
  tools/assets/help/cds-version-md.out.md
  tools/assets/help/cds-version.out.md
Owners: @renejeglinsky

remove outdated tutorial link
  guides/using-services.md
Owners: @renejeglinsky

feat: programmatic invocation of draft actions (#1437)
  node.js/fiori.md
Owners: @smahati

Java: Insert with path example (#1528)
  java/working-with-cql/query-api.md
Owners: @smahati

Updated the default behaviour of the messaging error handler (#1369)
  java/messaging.md
Owners: @smahati

Scoped styles
  cds/cqn.md
  get-started/index.md
  guides/data-privacy/annotations.md
Owners: @renejeglinsky

Update CLI texts
  tools/assets/help/cds-add.out.md
  tools/assets/help/cds-version-md.out.md
  tools/assets/help/cds-version.out.md
Owners: @renejeglinsky

Config inspector: show new Node config options
  .vitepress/theme/components/ConfigInspect.vue
Owners: @chgeo, @swaldmann

.github/CODEOWNERS:

# This files defines code ownership.

# General content
* @renejeglinsky
node.js/ @smahati
java/ @smahati

# Infra
.github/    @chgeo @swaldmann
.vitepress/ @chgeo @swaldmann

# allow dependencies updates through renovate w/o code owners
package.json
package-lock.json
