Repository cap-js/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @renejeglinsky, @smahati, @chgeo, @swaldmann

.github/CODEOWNERS:

# This files defines code ownership.

# General content
* @renejeglinsky
node.js/ @smahati
java/ @smahati

# Infra
.github/    @chgeo @swaldmann
.vitepress/ @chgeo @swaldmann

# allow dependencies updates through renovate w/o code owners
package.json
package-lock.json

Config inspector: allow file variants only
  .vitepress/theme/components/ConfigInspect.vue
Owners: @chgeo, @swaldmann

Repl help extended
  .github/cli/grab-cli-texts.sh
  tools/assets/help/cds-repl.out.md
  tools/cds-cli.md
Owners: @chgeo, @swaldmann, @renejeglinsky

Move Jun-Aug 24 to archive
  guides/providing-services.md
Owners: @renejeglinsky

consistent JavScript usage
  cds/common.md
  node.js/best-practices.md
  node.js/cds-log.md
  node.js/typescript.md
Owners: @renejeglinsky, @smahati

introduced the outbox event versioning
  java/outbox.md
Owners: @smahati

Added missing declaration for infix
  cds/cqn.md
Owners: @renejeglinsky

use JavaScript
  tools/cds-lint/index.md
Owners: @renejeglinsky

edit
  java/outbox.md
Owners: @smahati

.
  java/outbox.md
Owners: @smahati

edit npm ci approach
  java/developing-applications/building.md
Owners: @smahati

Apply suggestions from code review
  java/outbox.md
Owners: @smahati

Introduced the outbox event versioning (#1535)
  java/developing-applications/building.md
  java/outbox.md
Owners: @smahati

No search for pages not in sidebar
  guides/multitenancy/old-mtx-apis.md
  guides/querying.md
  java/getting-started.md
  java/working-with-data.md
  tools/cds-lint/rules/_menu.md
Owners: @renejeglinsky, @smahati

Fix home `h1` styling
  .vitepress/theme/styles.scss
Owners: @chgeo, @swaldmann

Update CLI texts
  tools/assets/help/cds-version-md.out.md
  tools/assets/help/cds-version.out.md
Owners: @renejeglinsky

troubleshoot readiness check
  get-started/troubleshooting.md
Owners: @renejeglinsky

Cloud Foundry CLI
  get-started/troubleshooting.md
Owners: @renejeglinsky

formatting
  get-started/troubleshooting.md
Owners: @renejeglinsky

Update guides/data-privacy/audit-logging.md
  guides/data-privacy/audit-logging.md
Owners: @renejeglinsky

Update get-started/troubleshooting.md
  get-started/troubleshooting.md
Owners: @renejeglinsky

details
  get-started/troubleshooting.md
Owners: @renejeglinsky

Update actions
  .github/workflows/main.yml
Owners: @chgeo, @swaldmann

Avoid collision with global `type` class
  java/developing-applications/properties.md
Owners: @smahati

Dependency update
  package-lock.json
Owners: none

`cds watch --include/--exclude`
  tools/cds-cli.md
Owners: @renejeglinsky

Fix DefaultHttpDestinatation basic credentials example
  java/cqn-services/remote-services.md
Owners: @smahati

req.user vs req.user (#1493)
  node.js/authentication.md
  node.js/cds-serve.md
  node.js/events.md
Owners: @smahati

Use latest Node 22
  .github/workflows/PR-SAP.yml
  .github/workflows/PR.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
Owners: @chgeo, @swaldmann

fix: descriptions of some standard database functions (#1519)
  guides/databases.md
Owners: @renejeglinsky

Use latest Node 22 (#1548)
  .github/workflows/PR-SAP.yml
  .github/workflows/PR.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
Owners: @chgeo, @swaldmann

Use config inspector
  tools/cds-cli.md
Owners: @renejeglinsky

Update core-services.md
  node.js/core-services.md
Owners: @smahati

More CLI help texts, link to cds.compile
  .github/cli/grab-cli-texts.sh
  get-started/in-a-nutshell.md
  node.js/cds-compile.md
  tools/assets/help/cds-compile.out.md
  tools/assets/help/cds-env.out.md
  tools/assets/help/cds-init.out.md
  tools/assets/help/cds-watch.out.md
  tools/cds-cli.md
Owners: @chgeo, @swaldmann, @renejeglinsky, @smahati

Add Since tag
  tools/cds-cli.md
Owners: @renejeglinsky

Text for watch
  tools/cds-cli.md
Owners: @renejeglinsky

docs(auth): Mention 403 pitfall + Java specifics (#1463)
  guides/security/authorization.md
Owners: @renejeglinsky

effective audit-log config (#1481)
  guides/data-privacy/audit-logging.md
Owners: @renejeglinsky
