Repository cap-js/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @renejeglinsky, @smahati, @chgeo, @swaldmann

Update node.js/cds-test.md
  node.js/cds-test.md
Owners: @smahati

add tag via `cf update-user-provided-service` (#1506)
  node.js/cds-log.md
Owners: @smahati

Update java/cqn-services/persistence-services.md
  java/cqn-services/persistence-services.md
Owners: @smahati

Update java/cqn-services/persistence-services.md
  java/cqn-services/persistence-services.md
Owners: @smahati

Apply suggestions from code review
  node.js/typescript.md
Owners: @smahati

Annotation expressions: support for draft specific elements
  cds/cdl.md
Owners: @renejeglinsky

Update observability.md
  java/operating-applications/observability.md
Owners: @smahati

Extend view: mention restricton w.r.t. table alias (#1470)
  cds/cdl.md
Owners: @renejeglinsky

Typescript: run with `watch`, SFlight sample
  node.js/typescript.md
Owners: @smahati

Update typescript.md (#1495)
  node.js/typescript.md
Owners: @smahati

Apply suggestions from code review
  node.js/typescript.md
Owners: @smahati

Update java/developing-applications/building.md
  java/developing-applications/building.md
Owners: @smahati

Update building.md
  java/developing-applications/building.md
Owners: @smahati

Update building.md
  java/developing-applications/building.md
Owners: @smahati

Update building.md
  java/developing-applications/building.md
Owners: @smahati

Update building.md
  java/developing-applications/building.md
Owners: @smahati

Update building.md
  java/developing-applications/building.md
Owners: @smahati

Update building.md
  java/developing-applications/building.md
Owners: @smahati

chore: more node convenience for odata functions
  guides/providing-services.md
Owners: @renejeglinsky

Include build in dk APIs
  .vitepress/theme/components/indexFilter.ts
  menu.md
  tools/apis/index.data.ts
  tools/index.data.ts
Owners: @chgeo, @swaldmann, @renejeglinsky

Update cds/cdl.md
  cds/cdl.md
Owners: @renejeglinsky

Annotation expressions: support for draft specific elements (#1516)
  cds/cdl.md
Owners: @renejeglinsky

Update building.md
  java/developing-applications/building.md
Owners: @smahati

link domain modeling guide with aspect-oriented modeling guide (#1456)
  guides/domain-modeling.md
Owners: @renejeglinsky

Annotations for OpenAPI (#1478)
  advanced/publishing-apis/openapi.md
Owners: @renejeglinsky

cosmetics
  java/operating-applications/observability.md
Owners: @smahati

Added JDBC tracing section in Java Observability (#1278)
  java/operating-applications/observability.md
Owners: @smahati

fix: descriptions of some standard database functions
  guides/databases.md
Owners: @renejeglinsky

databases: Fix and extend @sql.prepend/append docs
  guides/databases.md
Owners: @renejeglinsky

Update databases.md
  guides/databases.md
Owners: @renejeglinsky

cds.test only once per file (#1507)
  node.js/cds-test.md
Owners: @smahati

Update java/developing-applications/building.md
  java/developing-applications/building.md
Owners: @smahati

Fix
  .vitepress/theme/components/WasThisHelpful.vue
Owners: @chgeo, @swaldmann

Include URL
  .vitepress/theme/components/WasThisHelpful.vue
Owners: @chgeo, @swaldmann

Simpler
  .vitepress/theme/components/WasThisHelpful.vue
Owners: @chgeo, @swaldmann

fix code block
  node.js/typescript.md
Owners: @smahati

added troubleshooting for hana migrtaion
  get-started/troubleshooting.md
Owners: @renejeglinsky

fixes
  .vitepress/theme/components/WasThisHelpful.vue
Owners: @chgeo, @swaldmann

Revised CQN spec, using .d.ts declarations
  .vitepress/theme/styles.scss
  cds/cqn.md
  node.js/cds-ql.md
Owners: @chgeo, @swaldmann, @renejeglinsky, @smahati

Feedback from UA Sync
  .vitepress/theme/Layout.vue
  .vitepress/theme/components/WasThisHelpful.vue
Owners: @chgeo, @swaldmann

.github/CODEOWNERS:

# This files defines code ownership.

# General content
* @renejeglinsky
node.js/ @smahati
java/ @smahati

# Infra
.github/    @chgeo @swaldmann
.vitepress/ @chgeo @swaldmann

# allow dependencies updates through renovate w/o code owners
package.json
package-lock.json
