Repository cap-js/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @renejeglinsky, @smahati, @chgeo, @swaldmann

Keep link
  plugins/index.md
Owners: @renejeglinsky

Added docu for @Common.FieldControl validation (#1474)
  cds/annotations.md
  guides/providing-services.md
Owners: @renejeglinsky

fix typo in troubleshooting.md (#1500)
  get-started/troubleshooting.md
Owners: @renejeglinsky

Update plugins/index.md
  plugins/index.md
Owners: @renejeglinsky

Attachment plugin for Java (#1496)
  plugins/index.md
Owners: @renejeglinsky

H2: Set collation
  java/cqn-services/persistence-services.md
Owners: @smahati

Update persistence-services.md
  java/cqn-services/persistence-services.md
Owners: @smahati

Remove incorrect code example (#1501)
  java/event-handlers/indicating-errors.md
Owners: @smahati

fix: audit logging for defined services only
  guides/data-privacy/audit-logging.md
Owners: @renejeglinsky

update-user-provided-service
  node.js/cds-log.md
Owners: @smahati

Update cds-test.md
  node.js/cds-test.md
Owners: @smahati

move BTP-related docs to open source repo
  guides/deployment/assets/apps-cockpit.png
  guides/deployment/assets/deploy-kyma.drawio.svg
  guides/deployment/assets/deploy-overview.drawio.svg
  guides/deployment/assets/deploy-setps.drawio.svg
  guides/deployment/assets/overview.drawio.svg
  guides/deployment/cicd.md
  guides/deployment/custom-builds.md
  guides/deployment/health-checks.md
  guides/deployment/index.data.ts
  guides/deployment/index.md
  guides/deployment/to-cf.md
  guides/deployment/to-kyma.md
  guides/extensibility/composition.md
  guides/extensibility/customization.md
  guides/extensibility/feature-toggles.md
  guides/extensibility/index.data.ts
  guides/extensibility/index.md
  guides/multitenancy/index.md
  guides/multitenancy/mtxs.md
  guides/multitenancy/old-mtx-apis.md
  guides/multitenancy/old-mtx-migration.md
  java/fiori-drafts.md
  java/multitenancy.md
Owners: @renejeglinsky, @smahati

better wording
  node.js/cds-test.md
Owners: @smahati

move assets
  guides/extensibility/assets/cap-samples.drawio.svg
  guides/extensibility/assets/delegate-requests.drawio.svg
  guides/extensibility/assets/extensibility.drawio.svg
  guides/extensibility/assets/feature-toggles.drawio.svg
  guides/extensibility/assets/image-20220628101642511.png
  guides/extensibility/assets/image-20220630132726831.png
  guides/extensibility/assets/image-20221004054556898.png
  guides/extensibility/assets/image-20221004080722532.png
  guides/extensibility/assets/image-20221004081826167.png
  guides/extensibility/assets/orders-ext.png
  guides/extensibility/assets/process_SAP_BTP.drawio.svg
  guides/extensibility/assets/reuse-overview.drawio.svg
  guides/extensibility/assets/scenarios.drawio.svg
  guides/extensibility/assets/subdomain-cockpit-sui.png
Owners: @renejeglinsky

Update cds-log.md
  node.js/cds-log.md
Owners: @smahati

move MT assets
  guides/multitenancy/assets/book-changed-t1.png
  guides/multitenancy/assets/cockpit-routes-new-map.png
  guides/multitenancy/assets/cockpit-routes-new-mapped-overview.png
  guides/multitenancy/assets/cockpit-routes-new-overview.png
  guides/multitenancy/assets/cockpit-routes-new.png
  guides/multitenancy/assets/cockpit-routes.png
  guides/multitenancy/assets/create-subaccount.png
  guides/multitenancy/assets/db_explorer.png
  guides/multitenancy/assets/go-to-app.png
  guides/multitenancy/assets/migration-steps.drawio.svg
  guides/multitenancy/assets/mtx-overview.drawio.svg
  guides/multitenancy/assets/mtx-sidecar.drawio.svg
  guides/multitenancy/assets/persistence-overview.drawio.svg
  guides/multitenancy/assets/saas-overview.drawio.svg
  guides/multitenancy/assets/sub-account.png
  guides/multitenancy/assets/subscribe-bookshop.png
Owners: @renejeglinsky

move
  guides/multitenancy/assets/domain_deployment.svg
Owners: @renejeglinsky

move java assets
  java/assets/architecture-mt.drawio.svg
  java/assets/kibana.png
  java/multitenancy-classic.md
Owners: @smahati

move extensibility assets
  guides/extensibility/assets/customization-old.md
  guides/extensibility/assets/java-deployment.png
  guides/extensibility/assets/node-deployment.png
Owners: @renejeglinsky

edit warning
  guides/databases-hana.md
Owners: @renejeglinsky

typo
  about/index.md
Owners: @renejeglinsky

Update installation of local cds-dk
  java/developing-applications/building.md
Owners: @smahati

Update building.md
  java/developing-applications/building.md
Owners: @smahati

Update building.md
  java/developing-applications/building.md
Owners: @smahati

Update building.md
  java/developing-applications/building.md
Owners: @smahati

Update building.md
  java/developing-applications/building.md
Owners: @smahati

Update getting-started.md (#1477)
  java/getting-started.md
Owners: @smahati

Update CLI texts
  tools/assets/help/cds-version-md.out.md
  tools/assets/help/cds-version.out.md
Owners: @renejeglinsky

Vendor -> Customer
  guides/security/authorization.md
Owners: @renejeglinsky

comments
  guides/security/authorization.md
Owners: @renejeglinsky

Prevent keydown events when inputs are active
  .vitepress/theme/components/ShortcutsList.vue
Owners: @chgeo, @swaldmann

Add feedback buttons for Matomo
  .vitepress/theme/Layout.vue
  .vitepress/theme/components/WasThisHelpful.vue
Owners: @chgeo, @swaldmann

queue config
  node.js/messaging.md
Owners: @smahati

adapt link
  java/messaging.md
Owners: @smahati

Update node.js/messaging.md
  node.js/messaging.md
Owners: @smahati

Fix queue config link (#1512)
  java/messaging.md
  node.js/messaging.md
Owners: @smahati

edit
  guides/security/authorization.md
Owners: @renejeglinsky

.
  guides/security/authorization.md
Owners: @renejeglinsky

Fix typo and expand example in querying API feature table (#1447)
  guides/using-services.md
Owners: @renejeglinsky

Super minor typo fixes for new Aspect-oriented Modelling section (#1451)
  cds/aspects.md
Owners: @renejeglinsky

.github/CODEOWNERS:

# This files defines code ownership.

# General content
* @renejeglinsky
node.js/ @smahati
java/ @smahati

# Infra
.github/    @chgeo @swaldmann
.vitepress/ @chgeo @swaldmann

# allow dependencies updates through renovate w/o code owners
package.json
package-lock.json
