Repository cap-js/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @renejeglinsky, @smahati, @chgeo, @swaldmann

.github/CODEOWNERS:

# This files defines code ownership.

# General content
* @renejeglinsky
node.js/ @smahati
java/ @smahati

# Infra
.github/    @chgeo @swaldmann
.vitepress/ @chgeo @swaldmann

# allow dependencies updates through renovate w/o code owners
package.json
package-lock.json

...
  about/assets/events.drawio.svg
  about/assets/passive-data.drawio.svg
  about/assets/ubiquitous-events.drawio.svg
  about/index.md
  links.md
Owners: @renejeglinsky

fix links
  about/index.md
Owners: @renejeglinsky

Restructured about guides
  .vitepress/theme/styles.scss
  about/bad-practices.md
  about/best-practices.md
  about/index.md
  get-started/in-a-nutshell.md
  get-started/index.md
  links.md
  menu.md
Owners: @chgeo, @swaldmann, @renejeglinsky

Added docu for @Common.FieldControl validation
  cds/annotations.md
  guides/providing-services.md
Owners: @renejeglinsky

.
  about/assets/architecture.drawio.svg
  about/best-practices.md
  about/index.md
Owners: @renejeglinsky

fix links
  about/best-practices.md
  about/index.md
Owners: @renejeglinsky

fix links
  get-started/index.md
Owners: @renejeglinsky

Add cds-rfc to list of plugins (#1472)
  plugins/index.md
Owners: @renejeglinsky

Clarify configuration opt-out instructions in audit logging guide
  guides/data-privacy/audit-logging.md
Owners: @renejeglinsky

...
  .vitepress/theme/styles.scss
  about/assets/protocols.drawio.svg
  about/bad-practices.md
  about/best-practices.md
  about/index.md
  get-started/index.md
  guides/messaging/index.md
  guides/security/authorization.md
  java/cqn-services/application-services.md
  java/developing-applications/building.md
  java/event-handlers/changeset-contexts.md
  java/event-handlers/index.md
  java/event-handlers/request-contexts.md
  java/services.md
Owners: @chgeo, @swaldmann, @renejeglinsky, @smahati

fix links
  about/best-practices.md
Owners: @renejeglinsky

this adds a deprecated method that was missing (#1465)
  java/migration.md
Owners: @smahati

Add examples of lossy changes in Postgres deployment guide (#1471)
  guides/databases-postgres.md
Owners: @renejeglinsky

Update guides/providing-services.md
  guides/providing-services.md
Owners: @renejeglinsky

Fix links
  java/developing-applications/building.md
  java/event-handlers/index.md
  java/services.md
Owners: @smahati

Set about/index.md to released
  about/index.md
Owners: @renejeglinsky

Update getting-started.md
  java/getting-started.md
Owners: @smahati

Fix frontmatter glitch
  node.js/cds-serve.md
Owners: @smahati

Filter submenu items
  .vitepress/menu.js
  about/bad-practices.md
Owners: @chgeo, @swaldmann, @renejeglinsky

Only include relevant files in linter samples
  tools/cds-lint/examples/examples.data.ts
Owners: @renejeglinsky

Annotations for OpenAPI
  advanced/publishing-apis/openapi.md
Owners: @renejeglinsky

Clarify configuration opt-out instructions in audit logging guide (#1475)
  guides/data-privacy/audit-logging.md
Owners: @renejeglinsky

Lint: replace dynamic sidebar, move rules docs
  guides/security/aspects.md
  menu.md
  tools/cds-lint/[rules].md
  tools/cds-lint/components/RulesRefTable.vue
  tools/cds-lint/index.md
  tools/cds-lint/rules.data.ts
  tools/cds-lint/rules/_menu.md
  tools/cds-lint/rules/assoc2many-ambiguous-key.md
  tools/cds-lint/rules/auth-no-empty-restrictions.md
  tools/cds-lint/rules/auth-restrict-grant-service.md
  tools/cds-lint/rules/auth-use-requires.md
  tools/cds-lint/rules/auth-valid-restrict-grant.md
  tools/cds-lint/rules/auth-valid-restrict-keys.md
  tools/cds-lint/rules/auth-valid-restrict-to.md
  tools/cds-lint/rules/auth-valid-restrict-where.md
  tools/cds-lint/rules/extension-restrictions.md
  tools/cds-lint/rules/index.md
  tools/cds-lint/rules/latest-cds-version.md
  tools/cds-lint/rules/no-db-keywords.md
  tools/cds-lint/rules/no-dollar-prefixed-names.md
  tools/cds-lint/rules/no-java-keywords.md
  tools/cds-lint/rules/no-join-on-draft.md
  tools/cds-lint/rules/sql-cast-suggestion.md
  tools/cds-lint/rules/sql-null-comparison.md
  tools/cds-lint/rules/start-elements-lowercase.md
  tools/cds-lint/rules/start-entities-uppercase.md
  tools/cds-lint/rules/valid-csv-header.md
  tools/cds-lint/sidebar.js
Owners: @renejeglinsky

Fix showing rules table if enabled
  tools/cds-lint/components/RulesRefTable.vue
Owners: @renejeglinsky

Runtime Views: No filtered associations (#1376)
  java/working-with-cql/query-execution.md
Owners: @smahati

dept -> debt
  about/index.md
Owners: @renejeglinsky

fixes
  get-started/index.md
Owners: @renejeglinsky

...
  about/best-practices.md
Owners: @renejeglinsky

.
  about/best-practices.md
Owners: @renejeglinsky

edits
  about/best-practices.md
Owners: @renejeglinsky

.
  about/best-practices.md
Owners: @renejeglinsky

.
  about/assets/protocols.drawio.svg
  about/assets/ubiquitous-events.drawio.svg
  about/best-practices.md
Owners: @renejeglinsky

.
  about/best-practices.md
Owners: @renejeglinsky

.
  about/best-practices.md
Owners: @renejeglinsky

effective audit-log config
  guides/data-privacy/audit-logging.md
Owners: @renejeglinsky

Update audit-logging.md
  guides/data-privacy/audit-logging.md
Owners: @renejeglinsky

edits
  about/best-practices.md
  about/index.md
  get-started/index.md
Owners: @renejeglinsky

alt texts
  about/best-practices.md
Owners: @renejeglinsky

cosmetics
  cds/aspects.md
Owners: @renejeglinsky

add links
  about/best-practices.md
Owners: @renejeglinsky
