Repository cap-js/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @renejeglinsky, @smahati, @chgeo, @swaldmann

req.user vs req.user
  node.js/authentication.md
  node.js/cds-serve.md
  node.js/events.md
Owners: @smahati

Update node.js/authentication.md
  node.js/authentication.md
Owners: @smahati

edit
  about/best-practices.md
Owners: @renejeglinsky

edit
  get-started/learning-sources.md
Owners: @renejeglinsky

Had to override all former changes
  about/assets/protocol-adapters.drawio.svg
  about/assets/service-classes.drawio.svg
  about/best-practices.md
Owners: @renejeglinsky

Improve clarity and structure in documentation about CAP best practices
  about/bad-practices.md
  about/best-practices.md
  about/index.md
Owners: @renejeglinsky

Update guides/providing-services.md
  guides/providing-services.md
Owners: @renejeglinsky

Update typescript.md
  node.js/typescript.md
Owners: @smahati

Finished about/ index.md and best-practices.md
  .vitepress/theme/components/UnderConstruction.vue
  .vitepress/theme/index.ts
  about/assets/inner-loop.png
  about/assets/inner-loop.pptx
  about/assets/late-cut microservices.pptx
  about/assets/late-cut-microservices.png
  about/assets/modulith.png
  about/index.md
Owners: @chgeo, @swaldmann, @renejeglinsky

.
  about/assets/late-cut microservices.pptx
Owners: @renejeglinsky

.
  about/bad-practices.md
  about/index.md
Owners: @renejeglinsky

Fix links
  about/bad-practices.md
  about/best-practices.md
Owners: @renejeglinsky

corrected hash links
  about/best-practices.md
Owners: @renejeglinsky

.
  .vitepress/theme/styles.scss
Owners: @chgeo, @swaldmann

Fix typos
  .vitepress/theme/components/UnderConstruction.vue
  about/bad-practices.md
  about/index.md
Owners: @chgeo, @swaldmann, @renejeglinsky

.
  about/bad-practices.md
Owners: @renejeglinsky

under construction
  about/index.md
Owners: @renejeglinsky

SDMEXT-582:Updating documentation in Capire for SDM plugin support in Java.
  plugins/index.md
Owners: @renejeglinsky

filled some under construction sections
  .vitepress/theme/styles.scss
  about/best-practices.md
  about/index.md
Owners: @chgeo, @swaldmann, @renejeglinsky

two more sections filled
  about/index.md
Owners: @renejeglinsky

wording
  about/index.md
Owners: @renejeglinsky

CAP is like ABAP
  about/index.md
Owners: @renejeglinsky

fixed links on cover page
  index.md
Owners: @renejeglinsky

edit
  about/index.md
Owners: @renejeglinsky

adapt link
  get-started/index.md
Owners: @renejeglinsky

changes
  plugins/index.md
Owners: @renejeglinsky

edits
  about/bad-practices.md
  about/best-practices.md
  get-started/index.md
  get-started/learning-sources.md
Owners: @renejeglinsky

expand bad practices section with TL;DR insights
  about/assets/jobkiller.png
  about/assets/too-busy.md
  about/assets/too-busy.png
  about/bad-practices.md
Owners: @renejeglinsky

copy error
  about/bad-practices.md
Owners: @renejeglinsky

enhance bad practices section with encouragement and resource links
  about/bad-practices.md
Owners: @renejeglinsky

and should
  about/index.md
Owners: @renejeglinsky

cosmetics
  about/best-practices.md
  get-started/index.md
  index.md
Owners: @renejeglinsky

-
  about/features.md
  about/index.md
Owners: @renejeglinsky

one more
  about/bad-practices.md
Owners: @renejeglinsky

.
  about/assets/too-busy.md
Owners: @renejeglinsky

..
  about/assets/too-busy.md
Owners: @renejeglinsky

one more (and should)
  about/index.md
Owners: @renejeglinsky

Update documentation structure and headings for clarity
  get-started/index.md
Owners: @renejeglinsky

fix typo in troubleshooting.md
  get-started/troubleshooting.md
Owners: @renejeglinsky

Remove incorrect code example
  java/event-handlers/indicating-errors.md
Owners: @smahati

.github/CODEOWNERS:

# This files defines code ownership.

# General content
* @renejeglinsky
node.js/ @smahati
java/ @smahati

# Infra
.github/    @chgeo @swaldmann
.vitepress/ @chgeo @swaldmann

# allow dependencies updates through renovate w/o code owners
package.json
package-lock.json
