Repository cap-js/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @smahati, @chgeo, @swaldmann

.github/CODEOWNERS:

# This files defines code ownership.

# General content
* @smahati
## * @renejeglinsky

# Infra
.github/    @chgeo @swaldmann
.vitepress/ @chgeo @swaldmann

# allow dependencies updates through renovate w/o code owners
package.json
package-lock.json

Update node.js/typescript.md
  node.js/typescript.md
Owners: @smahati

Enable `Run Build Task` in VSCode
  .vscode/tasks.json
Owners: @smahati

Update ts detection mechanism
  tools/cds-typer.md
Owners: @smahati

Simpler
  .vitepress/config.ts
Owners: @chgeo, @swaldmann

Fix typer call on Windows
  .vitepress/lib/md-typed-models.ts
Owners: @chgeo, @swaldmann

.
  guides/messaging/index.md
Owners: @smahati

Make import paths work in Windows
  .vitepress/lib/md-typed-models.ts
Owners: @chgeo, @swaldmann

xpr as anno value: add on name resolution and add example
  cds/cdl.md
Owners: @smahati

ESLint config
  .eslintrc
  .github/workflows/PR-SAP.yml
  .github/workflows/PR.yml
  .github/workflows/main.yml
  .vitepress/menu.js
  .vitepress/theme/components/NotFound.vue
  .vitepress/theme/components/NotebookHint.vue
  .vitepress/theme/components/implvariants/ImplVariants.vue
  assets/concepts/_snippets/cds.cds
  assets/concepts/_snippets/http.groovy
  assets/concepts/_snippets/javascript.js
  eslint.config.mjs
  guides/assets/actions-functions/requests.http
  guides/assets/actions-functions/services.cds
  guides/assets/actions-functions/services.js
  tools/cds-lint/components/PlaygroundBadge.vue
  tools/cds-lint/components/RulesRefTable.vue
Owners: @smahati, @chgeo, @swaldmann

Update node.js/typescript.md
  node.js/typescript.md
Owners: @smahati

Update getting-started.md
  java/getting-started.md
Owners: @smahati

Update tools/cds-typer.md
  tools/cds-typer.md
Owners: @smahati

Update node.js/typescript.md
  node.js/typescript.md
Owners: @smahati

Update tools/cds-typer.md
  tools/cds-typer.md
Owners: @smahati

Document .from(), mark .as() as deprecated (#1243)
  node.js/cds-ql.md
Owners: @smahati

Improve java_opts layout (#1241)
  java/operating-applications/observability.md
Owners: @smahati
