Repository cap-js/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @renejeglinsky, @smahati, @chgeo, @swaldmann

feat: programmatic invocation of draft actions
  node.js/fiori.md
Owners: @smahati

Add TypeScript section to troubleshooting guide
  get-started/troubleshooting.md
Owners: @renejeglinsky

fixes for snippet checker
  cds/aspects.md
  cds/cdl.md
Owners: @renejeglinsky

!fix
  cds/cdl.md
Owners: @renejeglinsky

Apply suggestions from code review
  get-started/troubleshooting.md
Owners: @renejeglinsky

Add table
  get-started/troubleshooting.md
Owners: @renejeglinsky

Update get-started/troubleshooting.md
  get-started/troubleshooting.md
Owners: @renejeglinsky

Add TypeScript section to troubleshooting guide (#1438)
  cds/aspects.md
  cds/cdl.md
  get-started/troubleshooting.md
Owners: @renejeglinsky

Update section on DB constraints
  guides/databases.md
Owners: @renejeglinsky

Whitespace cosmetics
  get-started/in-a-nutshell.md
Owners: @renejeglinsky

[cds 8.5] cloud logging via ups
  node.js/cds-log.md
Owners: @smahati

Fix outdated audit logging config (#1442)
  guides/data-privacy/audit-logging.md
Owners: @renejeglinsky

Update building.md
  java/developing-applications/building.md
Owners: @smahati

Add example for selecting from view with parameters (#839)
  cds/cdl.md
Owners: @renejeglinsky

[Node.js] - adapt docu for removal of cds.odata.protectMetadata (#1431)
  guides/security/authorization.md
Owners: @renejeglinsky

update audit-log presets
  guides/data-privacy/audit-logging.md
Owners: @renejeglinsky

#1443
  guides/data-privacy/audit-logging.md
Owners: @renejeglinsky

New `add handler` in get-started
  get-started/in-a-nutshell.md
Owners: @renejeglinsky

Help for `add handler`
  .github/cli/grab-cli-texts.sh
  get-started/in-a-nutshell.md
  tools/assets/help/cds-add.out.md
  tools/cds-cli.md
Owners: @chgeo, @swaldmann, @renejeglinsky

Fix help text
  .github/cli/grab-cli-texts.js
  tools/assets/help/cds-add.out.md
Owners: @chgeo, @swaldmann, @renejeglinsky

Apply suggestions from code review
  get-started/in-a-nutshell.md
  tools/cds-cli.md
Owners: @renejeglinsky

New `add handler` (#1440)
  .github/cli/grab-cli-texts.js
  .github/cli/grab-cli-texts.sh
  get-started/in-a-nutshell.md
  tools/assets/help/cds-add.out.md
  tools/cds-cli.md
Owners: @chgeo, @swaldmann, @renejeglinsky

cds-services-archetype: Describe parameter -DcdsdkVersion (#1444)
  java/developing-applications/building.md
Owners: @smahati

Fix typo `groupedby` -> `groupby` in querying API features
  guides/using-services.md
Owners: @renejeglinsky

Add `aggregate` to `$apply` example in querying API features
  guides/using-services.md
Owners: @renejeglinsky

Update node.js/core-services.md
  node.js/core-services.md
Owners: @smahati

Add `esm` facet
  tools/assets/help/cds-add.out.md
  tools/cds-cli.md
Owners: @renejeglinsky

[cds 8.5] cloud logging via ups (#1441)
  node.js/cds-log.md
Owners: @smahati

Refactored menu.js + added rewrites.js
  .vitepress/config.js
  .vitepress/config.ts
  .vitepress/languages/cds.tmLanguage.json
  .vitepress/languages/csv.tmLanguage.json
  .vitepress/languages/index.ts
  .vitepress/languages/log.tmLanguage.json
  .vitepress/languages/scsv.tmLanguage.json
  .vitepress/lib/redirects.ts
  .vitepress/menu.js
  .vitepress/rewrites.js
  .vitepress/theme/index.ts
  .vitepress/theme/styles.scss
  get-started/index.md
  index.md
  java/_menu.md
  menu.md
  node.js/_menu.md
  public/assets/logos/apple-touch-icon.png
  public/assets/logos/favicon.ico
  public/cap-logo.png
  public/cap-logo.svg
  public/favicon.ico
  public/images/copy.svg
  public/learn-more.svg
  public/sap-logo.svg
  public/script.js
  tsconfig.json
Owners: @chgeo, @swaldmann, @renejeglinsky, @smahati

Mistake when making menu.js async
  .vitepress/menu.js
Owners: @chgeo, @swaldmann

Fixed some colors, especially in .learn-more
  .vitepress/theme/styles.scss
Owners: @chgeo, @swaldmann

Reverting eager inlining in menu.js
  .vitepress/config.js
  .vitepress/menu.js
Owners: @chgeo, @swaldmann

Copy errors
  .vitepress/theme/Layout.vue
  public/script.js
Owners: @chgeo, @swaldmann, @renejeglinsky

New class table.centered
  .vitepress/theme/styles.scss
Owners: @chgeo, @swaldmann

Super minor typo fixes for new Aspect-oriented Modelling section
  cds/aspects.md
Owners: @renejeglinsky

Refactored menu.js + added rewrites.js (#1449)
  .vitepress/config.js
  .vitepress/config.ts
  .vitepress/languages/cds.tmLanguage.json
  .vitepress/languages/csv.tmLanguage.json
  .vitepress/languages/index.ts
  .vitepress/languages/log.tmLanguage.json
  .vitepress/languages/scsv.tmLanguage.json
  .vitepress/lib/redirects.ts
  .vitepress/menu.js
  .vitepress/rewrites.js
  .vitepress/theme/Layout.vue
  .vitepress/theme/index.ts
  .vitepress/theme/styles.scss
  get-started/index.md
  index.md
  java/_menu.md
  menu.md
  node.js/_menu.md
  public/assets/logos/apple-touch-icon.png
  public/assets/logos/favicon.ico
  public/cap-logo.png
  public/cap-logo.svg
  public/favicon.ico
  public/images/copy.svg
  public/learn-more.svg
  public/sap-logo.svg
  public/script.js
  tsconfig.json
Owners: @chgeo, @swaldmann, @renejeglinsky, @smahati

Restore banner slot
  .vitepress/theme/Layout.vue
Owners: @chgeo, @swaldmann

edit with new config feature
  guides/data-privacy/audit-logging.md
Owners: @renejeglinsky

typo
  guides/data-privacy/audit-logging.md
Owners: @renejeglinsky

Native functions w/ diff DBs for CAP Java
  guides/databases.md
Owners: @renejeglinsky

.github/CODEOWNERS:

# This files defines code ownership.

# General content
* @renejeglinsky
node.js/ @smahati
java/ @smahati

# Infra
.github/    @chgeo @swaldmann
.vitepress/ @chgeo @swaldmann

# allow dependencies updates through renovate w/o code owners
package.json
package-lock.json
