Repository cap-js/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @renejeglinsky, @smahati, @chgeo, @swaldmann

.github/CODEOWNERS:

# This files defines code ownership.

# General content
* @renejeglinsky
node.js/ @smahati
java/ @smahati

# Infra
.github/    @chgeo @swaldmann
.vitepress/ @chgeo @swaldmann

# allow dependencies updates through renovate w/o code owners
package.json
package-lock.json

Bring index metadata back, esp. release status
  index.md
Owners: @renejeglinsky

fix link
  node.js/cds-compile.md
Owners: @smahati

fix syntax
  node.js/cds-compile.md
Owners: @smahati

Update databases-hana.md
  guides/databases-hana.md
Owners: @renejeglinsky

Simplified impl variants classes Using `.node` and `.java` instead of `.impl.node` and `.impl.java`. But the latter still works as well
  .vitepress/lib/md-attrs-propagate.ts
  .vitepress/theme/components/implvariants/ImplVariants.vue
  .vitepress/theme/styles.scss
  about/index.md
  get-started/troubleshooting.md
  guides/databases-h2.md
  guides/databases-hana.md
  guides/databases-postgres.md
  guides/databases-sqlite.md
  guides/databases.md
  guides/security/aspects.md
  guides/using-services.md
Owners: @chgeo, @swaldmann, @renejeglinsky

Document `cds debug`
  tools/assets/cds-debug_compressed.mp4
  tools/cds-cli.md
Owners: @renejeglinsky

fix: better wording for async emit (#1422)
  node.js/core-services.md
Owners: @smahati

Cleaned up Geting Started guides
  .vitepress/theme/styles.scss
  about/features.md
  about/index.md
  get-started/assets/fiori-app.png
  get-started/assets/jumpstart/node-download-lts.png
  get-started/assets/vue-app.png
  get-started/assets/welcome-java.png
  get-started/assets/welcome.png
  get-started/attic/grow-as-you-go.-md
  get-started/hello-world.md
  get-started/in-a-nutshell.md
  get-started/index.md
  get-started/jumpstart.md
  get-started/learning-sources.md
  get-started/samples.md
  index.md
  java/developing-applications/building.md
  java/getting-started.md
  menu.md
  node.js/cds-i18n.md
  node.js/messaging.md
  node.js/outbox.md
  public/script.js
  tools/cds-editors.md
Owners: @chgeo, @swaldmann, @renejeglinsky, @smahati

.
  get-started/in-a-nutshell.md
  guides/security/index.data.ts.timestamp-1732066722137-cbc5019404874.mjs
  java/index.data.ts.timestamp-1732066722144-e93a12bc4fa25.mjs
  java/operating-applications/index.data.ts.timestamp-1732066722141-a234a6c8081d3.mjs
  java/working-with-cql/index.data.ts.timestamp-1732066722138-0df5cadcd3413.mjs
Owners: @renejeglinsky, @smahati

.
  guides/security/index.data.ts.timestamp-1732066722137-cbc5019404874.mjs
  java/index.data.ts.timestamp-1732066722144-e93a12bc4fa25.mjs
  java/operating-applications/index.data.ts.timestamp-1732066722141-a234a6c8081d3.mjs
  java/working-with-cql/index.data.ts.timestamp-1732066722138-0df5cadcd3413.mjs
Owners: @renejeglinsky, @smahati

Document `cds debug` (#1454)
  tools/assets/cds-debug_compressed.mp4
  tools/cds-cli.md
Owners: @renejeglinsky

link domain modeling guide with aspect-oriented modeling guide
  guides/domain-modeling.md
Owners: @renejeglinsky

Move redirects infra to internal repo
  .vitepress/theme/Layout.vue
  .vitepress/theme/components/NotFound.vue
Owners: @chgeo, @swaldmann

release page
  get-started/index.md
Owners: @renejeglinsky

Pushing to main to keep us all in close sync (wip...)
  .vitepress/theme/styles.scss
  about/assets/cap-paradigm.drawio.svg
  about/assets/jobkiller.png
  about/assets/too-busy.png
  about/features.md
  about/index.md
  assets/overview.drawio.svg
  get-started/in-a-nutshell.md
  get-started/learning-sources.md
  java/cqn-services/application-services.md
  java/developing-applications/building.md
  java/developing-applications/index.md
Owners: @chgeo, @swaldmann, @renejeglinsky, @smahati

Added Aspect-oriented Modelling guide
  .vitepress/theme/custom.scss
  advanced/assets/data-model.cds
  cds/aspects.md
  cds/cdl.md
  cds/csn.md
  cds/models.md
  cds/types.md
  get-started/in-a-nutshell.md
  menu.md
Owners: @chgeo, @swaldmann, @renejeglinsky

.
  cds/aspects.md
Owners: @renejeglinsky

.
  cds/aspects.md
Owners: @renejeglinsky

.
  cds/aspects.md
Owners: @renejeglinsky

fix spelling
  cds/aspects.md
Owners: @renejeglinsky

Add TypeScript section to troubleshooting guide (#1438)
  cds/aspects.md
  cds/cdl.md
  get-started/troubleshooting.md
Owners: @renejeglinsky

Add cds-types
  tsconfig.json
Owners: @renejeglinsky

edit
  node.js/cds-i18n.md
Owners: @smahati

Debug: hint to use 1 app instance
  tools/cds-cli.md
Owners: @renejeglinsky

Node.js - fuzzy search in next release
  guides/providing-services.md
Owners: @renejeglinsky

Update providing-services.md
  guides/providing-services.md
Owners: @renejeglinsky

more
  guides/providing-services.md
Owners: @renejeglinsky

Align usage of different subqueries in title and sentences (#1412)
  java/working-with-cql/query-api.md
Owners: @smahati

Better wording
  tools/cds-cli.md
Owners: @renejeglinsky

chore: rm sentence about lean draft for remote services (#1420)
  node.js/fiori.md
Owners: @smahati

Debug: hint to use 1 app instance (#1458)
  tools/cds-cli.md
Owners: @renejeglinsky

this adds a deprecated method that was missing
  java/migration.md
Owners: @smahati

Better Express logo
  assets/logos/express.png
  assets/logos/express.svg
  assets/overview.drawio.svg
Owners: @renejeglinsky

Express logo as SVG
  assets/logos/express.png
  assets/logos/express.svg
Owners: @renejeglinsky

.
  .vitepress/theme/styles.scss
  cds/aspects.md
Owners: @chgeo, @swaldmann, @renejeglinsky

.
  about/assets/architecture.drawio.svg
  about/assets/concepts.drawio.svg
  about/assets/models-fuel-services.drawio.svg
  about/assets/paradigm.drawio.svg
  about/index.md
  assets/overview.drawio.svg
  cds/cdl.md
  cds/models.md
  get-started/in-a-nutshell.md
  get-started/index.md
  guides/providing-services.md
  menu.md
Owners: @renejeglinsky

Update architecture graphic w/o background artifacts
  about/assets/architecture.drawio.svg
Owners: @renejeglinsky

Font colors
  about/assets/architecture.drawio.svg
Owners: @renejeglinsky

Dimensions
  about/assets/architecture.drawio.svg
Owners: @renejeglinsky

Fine-tune
  about/assets/architecture.drawio.svg
Owners: @renejeglinsky
